@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap');

html{
    height: 100%;
}

body{
    font-family: "Roboto", "Zen Kaku Gothic Antique", sans-serif;
    font-size: 16px;
    /* background-color: rgb(218, 160, 216); */
    /* background: linear-gradient(0deg, rgb(218, 160, 216), rgb(231, 87, 226)); */
    background-image: url(../img/IMG_8187_2.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

/* .backimg{
    /* width: 100%; 
    height: 100vh;
    position: fixed;
    
    z-index: -1;
} */

.top h1{ 
    color:rgba(20, 20, 20, .6); 
    font-size: min(120px, 30vw);
    -webkit-text-stroke: 1px #EEE;
}

.top h2{
    -webkit-text-stroke: 0.45px #EEE;
    color:rgba(20, 20, 20, .9); 
    /* font-size: min(60px, 12vw); */
    font-size: min(6vw,30px);
    text-align: right;
}

.top .date h2{
    -webkit-text-stroke: 0px #EEE;
    color:rgba(240, 240, 240, 1); 
    font-size: min(30px, 6vw);
    display: block;
    padding: 5px;
    background-color: rgba(20, 20, 20, .6);
}

body h3{
    font-size: 60px;
}

body h4{
    text-align: center;
    font-size: 24px;
    /*margin-top: 16px;*/
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center;  */
    border-bottom: 1px solid #333;
}

body p{
    /*margin-top: 5%;*/
    margin-bottom:10px;
    /* padding-left: 1em; */
    /* text-indent: -1em; */
}

a{
    text-decoration: none;
}

ul,li {
    list-style: none;
}

/* backimg-------------------------------- */
/* 
.backimg{
    background-size: contain; 
    height: 100%; 
    position: fixed;
    z-index: -999;
} 

.backimg img{
    display: block;
    height: 100vh;
    height: auto;
    
} */

/* <div class="backimg">
        <img src="./img/IMG_8187_2.jpg" alt="">
    </div> */

/*header------------------------------------------*/
.header{
    background-color: #EEE;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.header__inner {
    padding: 0 20px; /*左右の余白確保*/
    display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
    align-items: center;
    justify-content: space-between;
    height: inherit; /*親要素の高さを継承*/
    position: relative;
  }

  /* ヘッダーのロゴ部分 */
.header__title {
    width: 70px;
}
  
.header__title img {
    display: block;
    width: 100%;
    height: 100%;
}
/* ヘッダーのナビ部分 */
.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); 
    background-color: #fff; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
}
/* ハンバーガーメニュー */
.header__hamburger {
    width: 48px;
    height: 100%;
}

.hamburger {
    background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    z-index: 9999;
}

/* ハンバーガーメニューの線 */
.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #333;
    position: relative;
    transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
}
  
.hamburger span:nth-child(1) {
    top: 0;
    background-color: #933;
}
  
.hamburger span:nth-child(2) {
    margin: 8px 0;
}
  
.hamburger span:nth-child(3) {
    top: 0;
}

/*top---------------------------------------------*/
.top{
    width: 100%;
    height: 490px;
    margin: 0 auto;/*二つ目の引数は左右のmargin(他のブロックからの距離:ここでは壁)autoにすることでwidthが効く*/
    /* background-image:url(../img/IMG_8187.jpg);
    background-size: contain; */
    /* rgb(235, 227, 175);*/
    padding: 5%;
    font-weight: 900;
    color: #333;  
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    padding: 30px 0;
    display: flex;/*2つのコンテンツの中央揃え,divとimgを真ん中に持ってくる*/
    align-items: flex-start;
    justify-content: space-between;
    align-items:flex-end;
}

.logo div{
    padding: 0 10px;
}

.logo .logo_word{
    display: flex;
    justify-content: center;
    align-items: top;
    /* margin-right: 2vw; */
}

.logo img{
    display: inline-block;/*画像のテキスト化*/
    width: 250px;
    height: 250px;
    max-width: 47vw;
    max-height: 47vw;
}

/*content------------------------------------------------------*/
.content {
    width: 100%;
    margin: 0 auto;
    /* background: #EEE; */
    padding: 5%;
    line-height: 2em;
}

.content .top_message{
    padding: min(10%,70px);
    box-shadow: 4px 4px 12px 4px;

}

.content div{
    padding: min(10%,70px);
    border-bottom: 1px solid #333;
    background-color: rgba(245, 245, 245,0.9);
    margin: 50px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 12px 4px;
}

.content img{
    width: 100%;
}

/*footer-----------------------------------------*/
.footer{
    /*
    font-size: 10px;
    text-align: center;
    align-self: flex-end;
    display: block;
    width: 100%;
    background-color:rgb(192, 6, 229);;
    */
    background-color: #EEE;
    width: 100%;
    height: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/*© 2023 収穫祭実行委員PCパート*/


/*
.header_links ul{/*最後に記載されているものulが要素でdisplay:flexでいじるのはその子要素
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_links ul li{
    text-align: center;
    border-right: 1px solid #333;
    min-width: 30%;
    
}
.header_links ul li:first-child{
    text-align: center;
    border-right: 1px solid #333;
    min-width: 10%;
}

.header_links{
    /*background-color: rgb(243, 243, 185);
    background-color: #E8E8E8;
    border-bottom: 1px solid #333;
    padding: 0;
}

.header_links ul li:first-child{
    border-left: 1px solid #333;
}

.header_links ul li a{
    display: block;
    color: #333;
    font-weight: 900;
    font-size: min(16px, 2vw);
}

.header_links img{
    width: 20px;
}

*/

