@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap');

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: "Roboto", "Zen Kaku Gothic Antique", sans-serif;
    font-size: 16px;
    /* background: transparent; */
    color: #333;
    background-color: rgb(245, 245, 245);
}

.top::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url('../img/IMG_8187_2.jpg');
    background-size: cover;
}

.top h1{ 
    color:rgba(20, 20, 20, .6); 
    font-size: min(120px, 25vw);
    -webkit-text-stroke: 1px #EEE;
}

.top h2{
    -webkit-text-stroke: 0.5px #EEE;
    color:rgba(20, 20, 20, .9); 
    /* color: rgba(245, 245, 245, .95); */
    /* font-size: min(60px, 12vw); */
    font-size: min(6vw,30px);
    /* text-align: right; */
    margin-bottom: 10px;
}

.top .top_date h2{
    -webkit-text-stroke: 1px #333;
    color:rgba(245, 245, 245, .95); 
    font-size: min(60px, 12vw);
    display: block;
    padding: 5px;
    /* background-color: rgba(20, 20, 20, .6); */
}

body h3{
    font-size: 60px;
}

body h4{
    font-size: 24px;
    /*margin-top: 16px;*/
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    color: #737;
    font-weight: bolder;
    /* justify-content: center;  */
    /* border-bottom: 1px solid #333; */
}

body h6{
    font-size: 18px;
}

body h5{
    font-size: 30px;
    margin-bottom: 16px;
    line-height: 1.2em;

}

body p{
    /*margin-top: 5%;*/
    margin-bottom:10px;
    /* padding-left: 1em; */
    /* text-indent: -1em; */
}

a{
    text-decoration: none;
}

ul,li {
    list-style: none;
}

/*header------------------------------------------*/
.header{
    background-color: rgba(245, 245, 245,1);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.header__inner {
    padding: 0 20px; /*左右の余白確保*/
    display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
    align-items: center;
    justify-content: space-between;
    height: inherit; /*親要素の高さを継承*/
    position: relative;
  }

  /* ヘッダーのロゴ部分 */
.header__title {
    width: 70px;
    z-index: 99999;
}
  
.header__title img {
    display: block;
    width: 100%;
    height: 100%;
}

/* ヘッダーのナビ部分 */
.header__nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); 
    background-color: rgba(245, 245, 245, .95); /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
}
/* ハンバーガーメニュー */
.header__hamburger {
    width: 30px;
    height: 100%;
}

.hamburger {
    background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    z-index: 9999;
}

/* ハンバーガーメニューの線 */
.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #333;
    position: relative;
    transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
}
  
.hamburger span:nth-child(1) {
    top: 0;
    background-color: #737;
}
  
.hamburger span:nth-child(2) {
    margin: 8px 0;
}
  
.hamburger span:nth-child(3) {
    top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -9px;
  transform: rotate(-45deg);
}

/* navigation内の整え */

.tomain{
    display: block;
    padding: 17px 100px;
}

.nav-items {
    padding-top:calc(50px + 20vh);
    padding-bottom: 20vh;
    padding-left: 5%;
    padding-right: 5%;
}

/* ナビのリンク */
.nav-items .nav__items{
    width: 220px;
    margin: auto;
}

.nav-items .nav__items .nav-items__item{
    text-align: center;
    border-left: 4px solid #737;
    margin-bottom: 24px;
    width: 100%;
}

.nav-items a {
    font-size: 24px;
    color: #737;
}


.nav-items:last-child a {
    margin-bottom: 0;   
}

.copyright{
    display: block;
    text-align: right;
    padding: 5%;
}


/*top---------------------------------------------*/
.top{
    width: 100%;
    height: 490px;
    margin: 0 auto;/*二つ目の引数は左右のmargin(他のブロックからの距離:ここでは壁)autoにすることでwidthが効く*/
    /* background-image:url(../img/IMG_8187.jpg);
    background-size: contain; */
    /* rgb(235, 227, 175);*/
    padding: 5%;
    font-weight: 900;
    color: #333;  
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: inherit;
    /* display: flex;/*2つのコンテンツの中央揃え,divとimgを真ん中に持ってくる
    align-items: flex-start;
    justify-content: space-between;
    align-items:flex-end; */
}

.logo .fesname{
    margin-right: 10px;
}

.logo .logo_word{
    display: block;
    /* display: flex;
    justify-content: center;
    align-items: top; */
    /* margin-right: 2vw; */
}

.logo img{
    display: inline-block;/*画像のテキスト化*/
    width: 250px;
    height: 250px;
    max-width: 47vw;
    max-height: 47vw;
}

/*content------------------------------------------------------*/

.top_message ul{
    align-items: left;
}

.top_message ul li{
    display: block;
    padding: 5px 5%;
    margin-bottom: 16px;
    text-align: left;
    border: 0.1px solid #333;
    min-width: 30%; 
    color: #333;
    /* background-color:rgba(245, 245,245, .6); */
    border-radius: 10px;
    line-height: 1.5em;
}

.top_message ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_message ul li a .spanimg{
    display: block;
    width: 32px;
    animation:Anime_a 3.14s infinite;
}
.top_message ul li a .spanmes{
    display: block;
    width: calc(100% - 32px);
}

.top_message ul li:last-child{
    margin-bottom: 0px;
}

.content {
    width: 100%;
    margin: 0 auto;
    /* background: #EEE; */
    padding: 5%;
    line-height: 2em;
}

.content div{
    padding: min(10%,70px);
    border-bottom: 1px solid #333;
    background-color: rgba(245, 245, 245,0.9);
    margin: 50px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 12px 4px;
}

.content .top_message{
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    padding: min(10%,70px);
    background-color: rgba(245, 245, 245, 0.93);
    border-radius: 0;
    box-shadow: none;

}

.content img{
    width: 100%;
    
}

.content .date{
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    /* animation:Anime_c 7s infinite; */
}

.content span{
    width: 50%;
}

.anime{
    display: inline-block;
    animation:Animeb 2s infinite;
    width: 300px;
}
@keyframes Animeb{
    0%{ transform: translateX(0%);  }
    33%{ transform: translateX(5%); }
    66%{ transform: translateX(0%); }
}

@keyframes Anime_c{
    0%{ transform: translateY(0%);  }
    8%{ transform: translateY(-3%); }
    16%{ transform: translateY(0%); }
}

/*footer-----------------------------------------*/
/* .footer{
    
    font-size: 10px;
    text-align: center;
    align-self: flex-end;
    display: block;
    width: 100%;
    background-color:rgb(192, 6, 229);;
    
    background-color: #EEE;
    width: 100%;
    height: 10px;
    position: fixed;
    bottom: 0;
    text-align: center; 
} */
/*© 2023 収穫祭実行委員PCパート*/


/*
.header_links ul{/*最後に記載されているものulが要素でdisplay:flexでいじるのはその子要素
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_links ul li{
    text-align: center;
    border-right: 1px solid #333;
    min-width: 30%;
    
}
.header_links ul li:first-child{
    text-align: center;
    border-right: 1px solid #333;
    min-width: 10%;
}

.header_links{
    /*background-color: rgb(243, 243, 185);
    background-color: #E8E8E8;
    border-bottom: 1px solid #333;
    padding: 0;
}

.header_links ul li:first-child{
    border-left: 1px solid #333;
}

.header_links ul li a{
    display: block;
    color: #333;
    font-weight: 900;
    font-size: min(12px, 2vw);
}

.header_links img{
    width: 20px;
}

*/

