@charset "UTF-8";

body{
    background-color: #EEE;
    background-attachment: fixed;
}

.content_sub::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url('../img/IMG_8187_2.jpg');
    background-size: cover;
}

.content_sub h4{
    font-size: 24px;
    -webkit-text-stroke: 1px #333;
    /*margin-top: 16px;*/
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    color: #EEE;
    font-weight: bolder;
    /* background-color: rgba(245, 245, 245, 0.3); */
    /* justify-content: center;  */
    /* border-bottom: 1px solid #333; */
}

.content_sub p{
    margin-bottom: 0;
}

.content_sub {
    width: 100%;
    margin: 0 auto;
    /* background: #EEE; */
    padding: 5%;
    line-height: 2em;
    margin-top: 50px;
}

.content_sub div{
    padding: 5%;
    border-bottom: 1px solid #333;
    background-color: rgba(245, 245, 245, 0.9);
    margin: 50px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 12px 4px;
}